<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="21982JeffBlankenburg.KingPoker" Publisher="CN=B325A2AE-FA39-4C97-8EE0-7A63DD53FD47" Version="1.1.0.4" />
  <Properties>
    <DisplayName>King Poker</DisplayName>
    <PublisherDisplayName>Jeff Blankenburg</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GameKing.App">
      <VisualElements DisplayName="King Poker" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="King Poker strives to be the most authentic video poker experience you can get outside of a casino.  (Though we're not going to stop you from playing it IN a casino, either.)  It currently contains 9 video poker variations, including Deuces Wild, Jacks or Better, Bonus Poker, Bonus Poker Deluxe, Double Bonus Poker, Royal Aces Bonus Poker, Triple Bonus Poker Plus, White Hot Aces, and Super Aces Bonus Poker.  We encourage you to reach out if there's a game you'd like to see included in the next update.  We will absolutely make it happen.  Thanks for playing, and may the deuces be ever in your favor." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="noLogos" WideLogo="Assets/WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#7e211a" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>